body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
   height:100vh;
}
nav{
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    text-align: center;
    width:100vw;
   
}